@{
  Layout = "_Layout";
}

@model MyScribe.Models.Post

<h2>Delete the post called @Model.Title?</h2>

<hr>

@using (Html.BeginForm())
{
  
  @* @Html.HiddenFor(model => model.PostId) *@
  <input type="submit"  value="Delete" class="btn btn-danger"/>

  @Html.ActionLink("Back to ScriBoard", "Details", "Boards", new {id = Model.BoardId}, new {@class="btn btn-info"})
}