@* <div class="text-center"> *@
@{
  Layout = "_Layout";
}

@using System.Security.Claims
<h1>Account Set up</h1>
@if(User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
}
else
{
  <p>Please sign in or create an account</p>
}

<div class="box">
@* <button class="btn btn-info"> *@
@Html.ActionLink("Please", "Register", null, new { @class = "btn btn-info"})
@* </button> *@
<br>
@* <a href="here" class="btn btn-info"></a> *@

@Html.ActionLink("Log In", "LogIn", null, new { @class = "btn btn-warning"}) 
@* </div> *@
</div>