@* <div class="text-center"> 
@{
  Layout = "_Layout";
}
*@

@using MyScribe.Models;
@model List<MyScribe.Models.Board>;
@using System.Security.Claims

<h1>Account Set up</h1>
@if(User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-dark" value="Log out" />
  }
}
else
{
  <p>Please sign in or create an account</p>

  @Html.ActionLink("Register", "Register", null, null, new { @class = "btn btn-info"}) 

  @Html.ActionLink("Log In", "LogIn", null, null, new { @class = "btn btn-warning"}) 
}

