@* <div class="text-center"> 
@{
  Layout = "_Layout";
}
*@

@using MyScribe.Models;
@model List<MyScribe.Models.Board>;
@using System.Security.Claims

<h1>Account Set up</h1>
@if(User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
}
else
{
  <p>Please sign in or create an account</p>
}


@* @foreach (Board boards in Model)
{
  <li>@Html.ActionLink($"{boards.Name}", "Details", new { id = boards.BoardId })</li>
} *@

@* @Html.ActionLink("Please", "Register", null, null, new { @class = "btn btn-info"}) *@

@* @Html.ActionLink("Log In", "LogIn", null, null, new { @class = "btn btn-warning"})  *@
