@* @{
    ViewData["Title"] = "Home";
} *@


<!-- image Slider -->
  <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/carousel_img1.jpeg">
        <div class="carousel-caption">
          <h1 class="display-2">MyScribe</h1>
          <h3>Your new favorite content organizer!</h3>
          <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><button type="button" id="login" class="btn btn-outline-light btn-lg">LOG IN</button></a> 
          <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register"><button type="button" class="btn btn-primary btn-lg">REGISTER</button></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./img/carousel_img4.jpg">
      </div>
    </div>
  </div>


<!-- Jumbotron -->
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">MyScribe is a location to organize your / thoughts / notes / ideas / and recources. Create ScriBoards of topics, and create Scribes relating to those topics. Enjoy Scribing!</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
         <a class="nav-link" asp-area="" asp-controller="Boards" asp-action="Details"><button type="button" class="btn btn-outline-secondary">MyScribe Boards</button></a>
      </div>
    </div>
  </div>

<!-- Two Column Section -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <h2>Start your own collections board...</h2>
        <p></p>
        One of our key features of MyScribe is creating and personalizing your own Board!</p>
        <p>When we have new thoughts ideas or external pieces of information that we want to keep near and dear to us its easy to mistakenly scatter this information across several notebooks, browser bookmarks, or simply just lie to ourselves that we'll remember it. We want to create something that helps all of us to keep better track, and have better access, to what we want to keep in reach.</p>
        <p>MyScribe is an organizational feature that can store links, images, or blocks of text. Create a recipe board that links to all your favorite recipe's. Create a workouts board, where each post includes an article and photo of the workout, and write notes of key points on form that you want to remember. You could make a board for App ideas, a board for dream cars, a board for resume pieces. The possibilities are endless with MyScribe, and it will keep all your important boards in one place. </p>
        <br>
        @* <a class="btn btn-primary" asp-area="" asp-controller="Boards" asp-action="Details">Learn More</a> *@
        <a class="btn btn-primary" href="https://myspace.com/" target="_blank">Learn More</a>
      </div>
      <div class="col-lg-6">
        <img src="./img/startboard.jpeg" class="img-fluid">
      </div>
    </div>
  </div>

  <hr class="my-4">
<!-- Fixed Background -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
    </div>
  </div>
</figure>

<!-- Surprise Button Section -->
<button class="fun" data-toggle="collapse" data-target="#emoji">Click here for a surprise!</button>
<div id="emoji" class="collapse">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
        <img class="pic" src="./img/khaled1.png">
      </div>
    </div>
  </div>
</div>

<!-- Meet The Team -->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1>Meet the Team!</h1>
      </div>
      <hr>
    </div>
  </div>


<!-- Cards -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-3">
        <div class="card">
          <img class="card=imd-top" src="./img/jamesprofile.jpg">
          <div class="card-body">
            <h4 class="card-title">James Tlaloc</h4>
            <p class="card-text">After coding for a couple of months, James is now a hackerman. He uses his new profound skills to make cool websites and secretly add cat photos throughout them to entertain people.</p>
            <a href="https://www.linkedin.com/in/jonathancarlos21/" class="btn btn-outline-secondary" target="_blank">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card=imd-top" src="./img/keturahprofile.jpeg">
          <div class="card-body">
            <h4 class="card-title">Keturah Howard</h4>
            <p class="card-text">Self growth has always been my jam - As a goal oriented individual I find great comfort in knowing that no matter where I may be now, as long as I'm working towards my goals I am moving upward. Todays goals are to be awesome at coding, tomorrow's is to build something extremely helpful with that code!</p>
            <a href="https://www.linkedin.com/in/keturah-howard-dev/" class="btn btn-outline-secondary" target="_blank">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card=imd-top" src="./img/hackerman.gif">
          <div class="card-body">
            <h4 class="card-title">Todd Walraven</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus similique natus non rerum dignissimos exercitationem molestias aliquid itaque vero, id consequatur veritatis modi sint in velit et? Dolores, fugiat ullam.</p>
            <a href="https://www.linkedin.com/in/todd-walraven/" class="btn btn-outline-secondary" target="_blank">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card=imd-top" src="./img/joseprofile.jpg">
          <div class="card-body">
            <h4 class="card-title">Jose Amesquita</h4>
            <p class="card-text">"Life is like a box of Chocolates. You never know what you're gonna get." - Forrest Gump. </p>
            <a href="https://www.linkedin.com/in/joseamesquita/" class="btn btn-outline-secondary" target="_blank">See Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Two Column Section -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <h2>Our philosophy...</h2>
        <p>Here at MyScribe, we believe in freedom of expression. No judging, no shaming, EVER! We are here to create an environment for all to share their thoughts and ideas and let others see and appreciate creativity that comes in all different colors.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam corrupti nam excepturi officia mollitia. Doloremque sequi cum nostrum, ex blanditiis molestiae voluptas iste quia consequatur minima dolorum corrupti velit maxime.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem exercitationem in cupiditate molestias quasi sunt? Ratione, praesentium inventore distinctio debitis velit fuga hic aut, quas, eius dolores molestiae in! Non! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, odio tempore ducimus doloremque asperiores perspiciatis reprehenderit labore repellendus doloribus. Commodi suscipit, iusto itaque odit dignissimos neque sit nobis unde quisquam.</p>
      </div>
      <div class="col-lg-6">
        <img src="./img/philosophy.jpg" class="img-fluid">
      </div>
    </div>
    <hr class="my-4">
  </div>

<!-- Connect -->
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>Connect</h2>
      </div>
      <div class="col-12 social padding">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>

