<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] MyScribe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper/js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="~/css/styles.css" rel="stylesheet">
  <link href="~/css/styles2.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Boards" asp-action="Index">Boards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </li>
          @if(User.Identity.IsAuthenticated)
          {
          <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOff">Log Out</a>
          </li>
          }
          else
          {
          <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
          </li>
          }
        </ul>
      </div>
    </div>
  </nav>


<div class="container text-center">
  @RenderBody()
</div>
<br>
<!-- Footer -->
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo2" src="~/img/logo2.png"></a>
          <hr class="light">
          <p>(503) 937-8264</p>
          <p>company@myscribe.com</p>
          <p>9867 Downtown Plaza</p>
          <p>Portland, OR 97654</p>
        </div>
        <div class="col-md-4">
          <h5>Hours:</h2>
          <hr class="light">
          <p>Monday: 9am-5pm<br>
            Tuesday: 9am-5pm<br>
            Wednesday: 9am-5pm<br>
            Thursday: 9am-5pm<br>
            Friday: 9am-5pm<br>
            Saturday: Closed<br>
            Sunday: Closed</p>
        </div>
        <div class="col-md-4">
          <h5>More Information:</h2>
          <hr class="light">
          <p>About<br>
            Help<br>
            Career<br>
            Privacy&Terms<br>
            Advertising<br>
            Services<br>
            Get the App<br>
            More</p>
        </div>
        <div class="col-12">
          <hr class="light-100">
          <h6>&copy; 2020 MyScribe </h6>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>