@{
  Layout = "_Layout";
}

@using MyScribe.Models
@using System.Security.Claims
@model IEnumerable<MyScribe.Models.Board>

<h1>Boards</h1>

@if (@Model.Any())
{
  @foreach (Board boards in Model)
  {
    <p>@Html.ActionLink($"{boards.Name}", "Details", null, new { id = boards.BoardId }, new {@class="btn btn-dark"})</p>
  }
} 
else
{
  <h3>You have no ScriBoards!</h3>
}
<hr>

@Html.ActionLink("Add a new board", "Create", null, null, new {@class = "btn btn-info"})

@* @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-info"}) *@